<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellobody.model.dao.MasterDao">

	<select id="selectMaster" parameterType="int">
		SELECT *
		FROM Master
		WHERE mId=#{mId}
	</select>

	<insert id="insertMaster" parameterType="Master">
		INSERT INTO (career,job,adCom)
		VALUES (#{career},#{job},#{adCom})
	</insert>

	<update id="updateMaster" parameterType="Master">
		UPDATE Master
		SET career=#{career} , job =#{job}, adCom = #{adCom}
		WHERE mId = #{mId}
	</update>

</mapper>
