<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hellobody.model.dao.UserDao">

	<insert id="insert" parameterType="User">
		INSERT INTO User
		VALUES (#{uId}, #{pw}, #{name}, #{nick}, #{lId}, 0, 0, NOW(), NOW(), null, null, #{rImg}, #{adCom})
	</insert>
	<update id="updateDate" parameterType="String">
		UPDATE user
		SET
		vDate = NOW()
		WHERE uId = #{uId}
	</update>
	
	<update id="updateLeagueData" parameterType="String">
		UPDATE user
		SET
		nick = #{nick},
		lId = #{lId},
		adCom = #{adCom}
		WHERE uId = #{uId}
		
	</update>
	
	<update id="update" parameterType="String">
		UPDATE user
		SET
		pw = #{pw}
	</update>
	
	<delete id="delete" parameterType="String">
		DELETE FROM user WHERE uId = #{uId}
	</delete>

	<select id="selectByUid" parameterType="String" resultType="User">
		SELECT * FROM user WHERE uId = #{uId}
	</select>

	<select id="selectByNick" resultType="User">
		SELECT * FROM user WHERE nick = #{nick}
	</select>

	<select id="selectAll" resultType="User">
		SELECT * FROM user
	</select>
</mapper>